<div class="contianer coupon-container" style="min-height: 100vh;  font-size: 1.3rem;">
    <div class="row p-5" style="display: flex; justify-content: center;">
        <div class="col-xl-3">
            <div class="card login-form">
                <div class="card-body">
                    <h3 class="card-title text-center">add coupon</h3>

                    <div class="card-text">
                        <div>
                            <div class="form-group mt-4">
                                <label for="exampleInputEmail1">coupon valid from</label>
                                <input placeholder="valid from" type="number" class="form-control form-control-sm"
                                    id="coupon-valid-upto" maxlength="2">
                            </div>
                            <div class="form-group mt-4">
                                <label for="exampleInputEmail1">add cashBack</label>
                                <input placeholder="enter cashBack" type="number" class="form-control form-control-sm"
                                    id="cashBack" maxlength="2">
                            </div>
                            <div class="form-group">
                                <label for="starts date">starts date</label>
                                <input type="date" class="form-control form-control-sm" id="startsDate">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputEmail1">ends date</label>
                                <input type="date" class="form-control form-control-sm" id="endsDate">
                            </div>



                            <button type="button" id="add-coupon" class="btn btn-primary btn-block">add coupon</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-8">
            <table id="example" class="table table-striped table-bordered" style="width:100%">
                <thead>
                    <tr>
                        <th>coupon code</th>
                        <th>cash back</th>
                        <th>starts date</th>
                        <th>ends date</th>
                        <th>valid from</th>
                        <th>is valid</th>
                    </tr>
                </thead>
                <tbody id="table-body">
                    {{#each coupons}}
                    <tr id="{{_id}}">
                        <td><strong>{{code}}</strong></td>
                        <td><strong>{{cashBack}}</strong></td>
                        <td><strong>{{StartsDate}}</strong></td>
                        <td><strong>{{EndsDate}}</strong></td>
                        <td><strong>{{valid_from}}</strong></td>
                        {{#if coupon_taken}}
                        <td><strong>yes</strong></td>
                        {{else}}
                        <td><strong>no</strong></td>
                        {{/if}}
                        <th class="text-center"><button onclick="deleteCoupon(`{{_id}}`)"
                                class="btn btn-danger">delete</button></th>
                    </tr>
                    {{/each}}
            </table>
        </div>
    </div>
</div>

<script>
    function deleteCoupon(id) {
        fetch('/admin/delCoupon', {
            body: JSON.stringify({ id }),
            method: 'delete',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
        }).then(res => res.json()).then(res => {
            console.log(res)
            if (res.ok) {
                document.getElementById('table-body').removeChild(document.getElementById(id))
            }
        })
    }
    document.getElementById('add-coupon').addEventListener('click', (e) => {
        e.preventDefault()
        const startsDate = document.getElementById('startsDate').value
        const endsDate = document.getElementById('endsDate').value
        const cashBack = document.getElementById('cashBack').value
        const valid_from = document.getElementById('coupon-valid-upto').value
        if (!startsDate || !endsDate || !cashBack) {
            alert('invalid data')
            return
        }
        const data = {
            startsDate,
            endsDate,
            cashBack,
            valid_from
        }
        console.log(data)
        fetch('/admin/addcoupon', {
            body: JSON.stringify(data),
            method: 'POST',
            credentials: 'include',
            headers: { 'Content-Type': 'application/json' },
        }).then(res => res.json()).then(res => {
            console.log(res)
            let chiled = `<tr>
                            <td><strong>${res.result.code}</strong></td>
                            <td><strong>${res.result.cashBack}</strong></td>
                            <td><strong>${new Date(res.result.StartsDate).toLocaleDateString()}</strong></td>
                            <td><strong>${new Date(res.result.EndsDate).toLocaleDateString()}</strong></td>
                            <td><strong>${res.result.valid_from}</strong></td>
                            <td><strong>no</strong></td>
                            <th class="text-center"><button class="btn btn-danger">delete</button></th>
                          </tr>`

            document.getElementById('table-body').innerHTML += chiled
        })
    })
</script>

<style>
    #coupon-code {
        text-transform: uppercase;
    }

    .card-text {
        font-size: 1rem;
        font-weight: 500
    }

    input {
        font-size: 1rem;
        font-size: large !important;
    }
</style>