<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light p-3">
  <!-- Toggle button -->
  <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fas fa-bars"></i>
  </button>

  <!-- Collapsible wrapper -->
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <!-- Navbar brand -->
    <a class="navbar-brand mt-2 mt-lg-0" href="/">
      <h2 style="font-size: 2rem;"><strong>SHOPPING HUB</strong></h2>
    </a>
    <!-- Left links -->
    {{#if loginPage}}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"> </a>
      </li>
    </ul>
    {{else}}
    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">wishList</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">New offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">flash Sale</a>
      </li>
    </ul>
    {{/if}}
    <!-- Left links -->
    <div class="search">
      <div class="input-group">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
          aria-describedby="search-addon" />
        {{!-- <button type="button" class="btn btn-outline-primary">search</button> --}}
      </div>
    </div>
  </div>
  <!-- Collapsible wrapper -->

  <!-- Right elements -->
  <div class="d-flex align-items-center">
    <!-- Icon -->
    <span class="mr-4 mt-2" id="navbar-user-name">
      {{#if user.logedin}}
      <h4>hi <span class="text-secondary">{{user.user.username}}</span></h4>
      {{else}}
      <h4>hi <span class="text-secondary">Gust</span></h4>
      {{/if}}
    </span>
    <!-- Icon -->
    <a href="/user/cart" class="mr-3">
      <i class="fas  fa-xl fa-shopping-cart" id="cart-count">
        {{count}}
        {{!-- <span class="badge badge-dark" style=""></span> --}}
      </i>
    </a>

    <!-- Avatar -->
    <div class="dropdown">
      <a class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#" id="navbarDropdownMenuAvatar"
        role="button" data-mdb-toggle="dropdown" aria-expanded="false">
        <img src="/image/icons/user-icon.png" class="rounded-circle" style="height: 3rem;"
          alt="Black and White Portrait of a Man" loading="lazy" />
      </a>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
        <li>
          <a class="dropdown-item" href="/user/profile">My profile</a>
        </li>
        <li>
          <a class="dropdown-item" href="#">Settings</a>
        </li>
        <li>
          {{#if user.logedin}}
          <a class="dropdown-item" href="/user/logout">logout</a>
          {{else}}
          <a class="dropdown-item" href="/user/login">Login</a>
          {{/if}}
        </li>
      </ul>
    </div>
  </div>
  <!-- Right elements -->
</nav>
<!-- Navbar -->

<script>
  fetch('/user/getUserData').then(res => res.json()).then(res => {
    document.getElementById('cart-count').innerHTML = " "+res.cartCount
  })
</script>