<div class="container mt-5 mb-5">

    <div class="row d-flex justify-content-center">

        <div class="col-md-8">

            <div class="card">

                <div class="text-left logo p-2 px-5">

                    <img src="https://i.imgur.com/2zDU056.png" width="50">


                </div>

                <div class="invoice p-5">

                    <h5>Your order Confirmed!</h5>

                    <span class="font-weight-bold d-block mt-4">Hello, {{user.user.username}}</span>
                    <span>You order has been confirmed and will be shipped in next two days!</span>

                    <div class="payment border-top mt-3 mb-3 border-bottom table-responsive">

                        <table class="table table-borderless">

                            <tbody>
                                <tr>
                                    <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted">Order Date</span>
                                            <span><strong>{{date}}</strong></span>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="py-2">

                                            <span class="d-block text-muted">Payment method</span>
                                            <span>
                                                <strong>{{payment_methode}}</strong>
                                                {{!-- <img src="https://img.icons8.com/color/48/000000/mastercard.png"
                                                    width="20" /> --}}
                                            </span>

                                        </div>
                                    </td>

                                    <td>
                                        <div class="py-2" style="width: 13rem;">

                                            <span class="d-block text-muted">user name</span>
                                            <span> <strong>{{address.full_name}}</span></strong>

                                        </div>
                                    </td>
                                </tr>
                            </tbody>

                        </table>





                    </div>

                    <address style="padding: 1rem; margin: 1rem 0; background-color: rgb(231, 231, 231); ">
                        <strong>address :</strong>
                        name: {{address.full_name}} <br>
                        Address: {{address.address}} {{address.city}} {{address.country}} {{address.state}} <br>
                        pin: {{address.pincode}}
                    </address>




                    <div class="product border-bottom table-responsive">

                        <table class="table table-borderless">

                            <tbody>
                                {{#each products}}
                                <tr>
                                    <td width="20%">

                                        <img src="/image/productImages/{{mainImage}}" width="90">

                                    </td>

                                    <td width="60%">
                                        <span class="font-weight-bold">{{name}}</span>
                                        <div class="product-qty">
                                            <span class="d-block">Quantity:{{count}}</span>
                                            <span>discounted price: ₹ {{discountedPrice}}</span>
                                            <span class="d-block">real Price: ₹ {{price}}</span>

                                        </div>
                                    </td>
                                    <td width="20%">
                                        <div class="text-right">
                                            <span class="font-weight-bold"> ₹ {{total}}</span>
                                        </div>
                                    </td>
                                </tr>
                                {{/each}}
                            </tbody>

                        </table>



                    </div>



                    <div class="row d-flex justify-content-between">

                        <div class="col-md-7 d-flex align-items-center" style="">
                        </div>
                        <div class="col-md-5">

                            <table class="table table-borderless">

                                <tbody class="totals">

                                    <tr>
                                        <td>
                                            <div class="text-left">

                                                <span class="text-muted">Peal Price</span>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>₹ {{price}}</span>
                                            </div>
                                        </td>
                                    </tr>




                                    <tr>
                                        <td>
                                            <div class="text-left">

                                                <span class="text-muted">Shipping Fee</span>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span>₹ {{shippingCharges}}</span>
                                            </div>
                                        </td>
                                    </tr>




                                    <tr class="border-top border-bottom">
                                        <td>
                                            <div class="text-left">

                                                <span class="font-weight-bold">discountedPrice</span>

                                            </div>
                                        </td>
                                        <td>
                                            <div class="text-right">
                                                <span class="font-weight-bold">₹ {{totalValue}}</span>
                                            </div>
                                        </td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>



                    </div>


                    <p>We will be sending shipping confirmation email when the item shipped successfully!</p>
                    <p class="font-weight-bold mb-0">Thanks for shopping with us!</p>
                    <span style="text-transform: uppercase; margin-top: 2rem;"><strong>shopping hub</strong></span>





                </div>


                <div class="d-flex justify-content-between footer p-3">

                    <span>Need Help? visit our <a href="#"> help center</a></span>
                    <span>{{date}}</span>

                </div>



                <a href="/" class="btn p-3 m-2 mt-4 btn-white">
                    <h6>back to home</h6>
                </a>
            </div>

        </div>

    </div>

</div>
<script>

    const placeHolder = document.getElementById('place-holder')
    const couponCode = document.getElementById('coupon-code')
    placeHolder.addEventListener('click', (e) => {
        placeHolder.style.opacity = "0"
        setTimeout(() => {
            couponCode.style.opacity = "1"
        }, 500)
    })
</script>
<style>
    #coupon-code-container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 100%;
        background-color: beige;
    }

    #coupon-code {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        line-height: 0rem;
        transition: all 0.5s ease-in-out;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    #place-holder {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        letter-spacing: 0.1rem;
        transition: all 0.5s ease-in-out;
        cursor: pointer;
        width: 100%;
        height: 100%;
        z-index: 2;
    }
</style>